html,
body {
  margin: 0;
}
body {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
main > div {
  margin-left: 1rem;
}
video {
  display: block;
  width: 640px;
  height: 480px;
  margin-right: 1rem;
}
canvas {
  display: none;
}
